.hidden {
  display: none;
}

.card {
  width: 50%;
  height: 500px;
  background-color: whitesmoke;
  margin: 10px;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  width: 50%;
}
