.hidden {
  display: none;
}

.notes {
  width: 100%;
  height: 500px;
  background-color: red;
}

#Board-quiz {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
}
